body{
    background-image: url(asset/background.jpg);
}

.sticky{
    position: sticky;
    top: 0;
    width: 150px; 
    float: left;
}

.text{
    text-align: center;
    color: whitesmoke;
}
.projects{
    display: flex;
    background-color: black;
    width: 363px;
    margin-left: 400px;
}

.projects div{
    background-color: slategray;
    margin: 10px;
    padding: 15px;
    font-size: 24px;
}

.contacts{
    color: whitesmoke;
    text-align: center;
}

.aboutMe{
    text-align: center;
    color: whitesmoke;
}