body{
    background-image: url(asset/background.jpg);
}

.sticky{
    position: sticky;
    top: 0;
    width: 150px; 
    float: left;
}

.text{
    text-align: center;
    color: whitesmoke;
}
.projects{
    display: flex;
    margin-left: 15%;
}

.projects div{
    background-color: slategray;
    margin: 10px;
    padding: 15px;
    font-size: 24px;
}

.contacts{
    color: whitesmoke;
    text-align: center;
}

.aboutMe{
    text-align: center;
    color: whitesmoke;
}
.text1{
    color: whitesmoke;
    margin-left: 45%;
}

.description{
    color: white;
    margin-left: 10px;
}

.logos{
    bottom: 0;
    margin-left: 45%;
}